.mid-con{
    height: fit-content;
    margin: 50px 0 0px 0;
    width:100%;
    display: flex;
    padding: 0 0 100px 0;
    flex-direction: column;
    position: relative;
    align-items: center;
    left:0;
    top:0;
    color:rgba(255, 34, 34, 0.708);
    z-index: 998;
}

.upperMid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.titleblock{
    width: 450px;
    padding-left: 80px;

}
.textbk{
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.btus{
    color: rgba(254, 37, 37, 0.753);
    font-size: 1.3rem;
    text-align: start;
    width: 80%;
}
.btus span{
    font-size: 3rem;
    color: red;
}
.ttxt{
    
    text-align: start;
    border-right: solid rgba(0, 0, 0, 0.568) 0.5px;
    border-bottom:solid rgba(0, 0, 0, 0.568) 0.5px;
    font-size: 8rem;
    width: fit-content;
   justify-self: center;
   font-style: italic;
   padding-right: 10px;
   color: red;
     margin: 0;
    text-align: center;
    /*color: #ffb8b8;
  text-shadow:
      0 0 7px #f86565,
      0 0 10px #f86565,
      0 0 21px #f86565,
      0 0 42px rgba(255, 0, 0, 0.258),
      0 0 82px rgba(255, 0, 0, 0.258),
      0 0 92px rgba(255, 0, 0, 0.258),
      0 0 102px rgba(255, 0, 0, 0.258),
      0 0 151px rgba(255, 0, 0, 0.258); */
   
}







@media only screen and (max-width: 1160px) {
    .textbk {
      padding-left: 80px;
      width:80%;
    }

    
  }

  