.nav-con{
  display: flex;
  width:100%;
  border-bottom: solid rgba(255, 255, 255, 0.411) 0.5px;


}
.logohug{
  display: flex;

  align-items: center;
}
.lnk{
  height: 50px;
  width: 50px;
  margin-left: 50px;
}
.logo{
  height: 50px;
  width: 50px;
  margin-left: 50px;
  
}

.nav-items {
  display: flex;
  width:100%;
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    justify-content: flex-end;
    
    
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    
  }

  li a:hover{
    color:red;
  }